{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 align="center">Homepage</h1><br><br>
    <h2 align="center"><strong>Welcome dear customer!</strong></h2>
    <h3 align="center">You are in the right place, in order to get <strong>rich</strong>!</h3>
    <h3 align="center">If you want to check the future events, go to <strong>Events</strong> tab!</h3>
    <h3 align="center">Otherwise, let us decide the best coupon for you, by visiting the <strong>Recommendations</strong> tab!</h3>
</div>
{% endblock %}