{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    {% if from_form == 1 %}
        <h1 align="center">Congratulations!</h1><br><br>
        <h2 align="center">Your coupon is ready!</h2>
        <h3 align="center">Hope you get <strong>rich</strong>! Have fun!</h3>
    {% else %}
        <h1 align="center">Here are your <strong>coupons</strong>!</h1><br><br>
        <h2 align="center">If you want to get another one, go to <strong>Recommendations</strong> tab!</h2>
        <h3 align="center">Hope you get <strong>rich</strong>! Have fun!</h3>
    {% endif %}
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }  
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        td {
            background-color: rgba(128, 222, 241, 0.2);
        }
        td.column1 {
            text-align: right;
        }
        th.column1 {
            text-align: right;
        }
    </style>
    {% for i, coupon in coupons | enumerate(start=1) %}
    <br><br><h3 align="center">Coupon no. {{ i }}</h3>
    <table align="center">
        <tr>
            <th>Stake</th>
            <th>Submit Date</th>
            <th>Time</th>
            <th>Total winnings</th>
        </tr>
        <tr>
            <td>${{ coupon.stake }}</td>
            <td>{{ coupon.timestamp[:10] }}</td>
            <td>{{ coupon.timestamp[11:-7] }}</td>
            <td>${{ (coupon.selections | map(attribute='odd') | multiply) * coupon.stake | float | round(1) }}</td>
        </tr>
    </table>
    <table align="center">
        <tr>
            <th>Events</th>
            <th>Odds</th>
        </tr>
        {% for j, selection in coupon.selections | enumerate(start=1) %}
        <tr>
            <td>{{j}}. {{ selection.event | get_event_participants(events) }}</td>
            <td>{{ selection.odd }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}